$background: #D5EEBB;
$text: #444941;
$check: #00DF76;
$check-hover: #00AB5E;
$delete: #D11A2A;
$delete-hover: #a81522;

*{
    font-family: Segoe UI;
    color: $text;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    background-color: $background;
    min-height:100%; 
    position:relative; 
    padding-bottom: 150px;
    overflow-x: hidden;
}

.nav-bar{
    display: block;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
    #logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #logo img{
        padding: 10px;
        height: 62px;
    }
    #logo p{
        font-size: 46px;
        font-weight: semibold;
    }
    .burger-menu{
        position: relative;
        float: right;
        margin-top: -40px;
        margin-right: 20px;
        cursor: pointer;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        width: 30vh;
        top: 62px;
        background-color: white;
        display: none;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        ul{
            margin-top: 70px;
            margin-left: -70px;
        }
        a {
        font-size: 25px;
        }
        a:hover{
        text-decoration: underline;
        cursor: pointer;
        }
    }
    .nav-links.show{
        display: flex;
    }
}

.greet{
    width: 80%;
    margin: auto;
    h1{
        margin-left: 20px;
        font-size: 55px;
        font-weight: 600;
        padding: 20px 0;
    }
}
.container{
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 27px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    h2{
        text-align: center;
        font-size: 42px;
        font-weight: 600;
        padding: 15px 0;
    }
    hr{
        color:#707070;
        width: 80%;
        margin: auto;
        opacity: 20%;
    }
    .new-items{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 118px;
        p{
            font-size: 35px;
            font-weight: 600;
        }
        input{
            height: 35px;
            width: 30%;
            margin: 0px 20px;
            font-size: 25px;
            padding-left: 10px;
        }
        input:focus{
            outline: none;
        }
        button{
            text-align: center;
            font-size: 25px;
            background-color: $check;
            color: white;
            border: none;
            border-radius: 7px;
            padding: 3px 30px;
            cursor: pointer;
            opacity: 0.6;
            pointer-events: none;
        }
        button.active{
            opacity: 1;
            pointer-events: auto; 
        }
        
        button:hover{
            background-color: $check-hover;
        }
    }
    .items{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15px;
        padding-bottom: 30px;
        width: 90%;
        margin:auto;
        p{
            font-size: 20px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .done{
            text-align: center;
            font-size: 20px;
            background-color: $check;
            color: white;
            border: none;
            border-radius: 7px;
            padding: 7px 10px; 
            cursor: pointer;
        }
        .done:hover{
            background-color: $check-hover;
        }
        .fas, .far{
            color: white;
        }
        .delete{
            text-align: center;
            font-size: 20px;
            background-color: $delete;
            color: white;
            border: none;
            border-radius: 7px;
            padding: 7px 10px; 
            cursor: pointer;
        }
        .delete:hover{
            background-color: $delete-hover;
        }
        .item{
            display: flex;
            
            .list{
                width: 90%
            }
            .buttons{
                display: flex;
                width: 10%;
                
            }
        }

        
        li{
            display: flex;
            padding: 15px 0;
            flex-wrap: wrap;
            p{
                margin-right: 50px;
            }
            .done{
                margin-right: 10px;
            }
        }
    }
}
footer{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;
    padding-top: 36px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px;
    flex-shrink: 0;
    position: absolute; 
    left: 0 ; right: 0; bottom: 0; 
    height: 150px; 
}

//Contacts page

.info{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    align-content: center;
    justify-content: space-around;

    .contact-info{
        display: flex;
        flex-direction: column;
        h3{
            font-size: 46px;
            padding: 25px 0px;
        }
        h4{
            font-size: 40px;
            font-weight: normal;
        }
        .social{
            display: flex;
            justify-content: space-evenly;
            ul{
                margin-top: 15px;
            }
            li{
                display: inline;
                font-size: 35px;
                padding: 0px 15px;
            }
            .email:hover{
                color: #0072c6;
            }
            .ig:hover{
                color: #e1306c;
            }
            .github:hover{
                color: #4078c0;
            }
        }
    }
}

@media (max-width: 800px) {
    .nav-bar{
        #logo img{
        height: 55px;
        }
        #logo p{
        font-size: 30px;
        }
        .burger-menu{
            margin-top: -37px;
            margin-right: 20px;
        }
        .nav-links{
            top:55px;  
          }
        
    }

    .greet {
    width: 90%;
    h1{
        font-size: 35px;
    }
}
    .container{
        width: 90%;
        h2{
            font-size: 30px;
        }
        .new-items{
            height: 90px;
            p{
                font-size: 25px;
            }
            input{
                height: 25px;
                font-size: 20px;
            }
            button{
                font-size: 20px;
            }
        }
        .items{
            p{
                font-size: 17px;
            }
            .done{
                font-size: 17px;
            }
            .delete{
                font-size: 17px;
            }
        }
    }
    footer{
        height: 100px;
    }
}
@media (max-width: 585px){
    .nav-bar{
        .nav-links{
          top:55px;  
        }
    }
    .greet {
        width: 95%;
        h1{
            font-size: 30px;
        }
    }
    .container{
        width: 95%;
        h2{
            font-size: 25px;
        }
        .new-items{
            height: 95px;
            flex-direction: column;
            p{
                font-size: 20px;
                margin-bottom: 5px;
            }
            input{
                height: 20px;
                width: 50%;
                font-size: 15px;
                margin-bottom: 5px;
            }
            button{
                font-size: 15px;
                margin-bottom: 5px;
            }
        }
    }
    iframe{
        width: 350px;
        height: 250px;
    }
}